/* Style font for all */
/*
* {
    font-family: Arial, sans-serif;
}
*/

/* Header1 style */
h1 {
    text-align: center;
}

/* Paragraph style */
p {
    color: black;
}

/* Table style */
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

/* Table header and table data style */
th {
    color: white;
    padding: 10px;
    text-align: center;
}
td {
    text-align: justify;
    padding-left: 10px
}

/* class: pet_name style; for the name of the pets in the tables */
.pet_name {
    font-weight: bold;
}

/* id: pet_link style; for styling the links to the pets pages */
#pet_link {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* id: home_title; style for the home page title */
#home_title {
    color: darkred;
    font-size: 45px;
}

/* media query: hide things in hide_sm_scr class in screens whose width is < 768px */
@media screen and (max-width: 768px) {
  .hide_sm_scr {
    display: none;
  }
}
