/* Ste font for all */
* {
    font-family: Arial, sans-serif;
}

/* Header1 style */
h1 {
    color: darkblue;
    text-align: center;
}

/* Paragraph style */
p {
    color: black;
}

/* class: pet_link style */
.pet_link {
    color: darkblue;
    font-size: 25px;
}

/* class: home_link style */
.home_link {
    color: darkred;
    font-size: 25px;
}

/* id: home_title; style for the home page title */
#home_title {
    color: darkred;
    font-size: 45px;
}
