/* variables (for colors) */
$theme_color_darkblue: darkblue;
$theme_color_blue: #466eaf;
$theme_color_gray: #e9ecef;

/* Color for highlighting text */
%text_highlight {
  color: $theme_color_darkblue;
}

/* Color for highlighting background */
%background_highlight {
  background-color: $theme_color_gray;
}

h1, .pet_name {
    @extend %text_highlight;
}

#pet_link {
    @extend %text_highlight;
    @extend %background_highlight;
}

th {
    background-color: $theme_color_blue;
}

/* back color for even rows of tables */
tr:nth-child(even) {
    @extend %background_highlight;
}

/* This remarks text in list items */
/* pet_name style; for the name of the pets in the tables */
li {
  span {
    @extend %text_highlight;
    font-weight: bold;
  }
}
